.break-all {
    word-break: break-all;
}

.lh2 {
    line-height: 2rem;
}

/*
 * Container
 */

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

/*
 * Form
 */

.input {
    padding: .5rem;
    margin-bottom: .5rem;
    width: 100%;
    max-width: 100%;
    border: 1px solid rgba(0, 0, 0, .2);
}

.button {
    position: relative;
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    border-radius: .25rem;
    border: 1px solid rgba(0, 0, 0, .2)
}

/*
 * Table
 */

.table {
    width: 100%;
}

.table tr:nth-child(even) {
    background: rgba(0, 0, 0, .05);
}

.table th,
.table td {
    text-align: center;
    padding: 0.5rem;
}

.table td.tl {
    text-align: left;
}

@media screen and (max-width: 670px) {
    .table,
    .table tbody,
    .table tr,
    .table th,
    .table td {
        display: block;
        width: 100%;
    }

    .table > thead {
        display: none;
    }

    .table tr {
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }

    .table td {
        padding: .1rem;
    }

    .table td[data-label]:before {
        content: attr(data-label);
        float: left;
        font-weight: 700;
        padding-right: 1rem;
        color: rgba(0, 0, 0, .5);
    }

    .table td[data-label] {
        text-align: right;
    }
}

/*
 * Gauge
 */

.gauge {
    fill: none;
    stroke: black;
    stroke-width: 5px;
    display: inline-block;
    vertical-align: middle;
}

.gauge .gauge-bg {
    stroke: #ccc;
}

.gauge .gauge-circle {
    stroke: currentColor;
}

.gauge text {
    fill: currentColor;
    stroke: none;
}

/*
 * FAB
 */
.fab {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
}

.fab-button {
    min-width: 3rem;
    height: 3rem;
    will-change: transform;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    line-height: 3rem;
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, .9);
}

.fab-button--primary {
    background: purple;
    border-radius: 50%;
}

.fab-button--secondary {
    display: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
    padding: 0 .5rem;
    margin: 0 0 1rem 0;
    position: relative;
}

.fab.is-expanded .fab-button--secondary {
    display: inline-block;
}
