.break-all {
    word-break: break-all;
}

.lh2 {
    line-height: 2rem;
}

/*
 * Form
 */

.input {
    padding: .5rem;
    margin-bottom: .5rem;
    width: 100%;
    max-width: 100%;
    border: 1px solid rgba(0, 0, 0, .2);
}

.button {
    position: relative;
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    border-radius: .25rem;
    border: 1px solid rgba(0, 0, 0, .2)
}

/*
 * Table
 */

.table {
    width: 100%;
}

table tr {
    border-bottom: 1px dashed #a1abba;
}

table th {
    color: rgb(104 117 140);
}

.table th,
.table td {
    text-align: center;
    padding: 1rem 0;
}

.table td.tl {
    text-align: left;
}

@media screen and (max-width: 670px) {
    .table,
    .table tbody,
    .table tr,
    .table th,
    .table td {
        display: block;
        width: 100%;
    }

    .table > thead {
        display: none;
    }

    .table tr {
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }

    .table td {
        padding: .5rem 1.5rem;
    }

    .table td[data-label]:before {
        content: attr(data-label);
        float: left;
        font-weight: 700;
        padding-right: 1rem;
        color: rgba(0, 0, 0, .5);
    }

    .table td[data-label] {
        text-align: right;
    }
}

/*
 * Gauge
 */

.gauge {
    fill: none;
    stroke: black;
    stroke-width: 5px;
    display: inline-block;
    vertical-align: middle;
}

.gauge .gauge-bg {
    stroke: #ccc;
}

.gauge .gauge-circle {
    stroke: currentColor;
}

.gauge text {
    fill: currentColor;
    stroke: none;
}

.text-fail {
    color: #ff4e42;
}

.text-pass {
    color: #0cce6b;
}

.text-average {
    color: #ffa400;
}

.group:hover .group-hover\:flex {
    display: flex;
}
